.faq {
  display: block;

  &-input {
    padding: 20px;

    input {
      display: block;
      width: 100%;
      padding: 10px;
    }
  }

  &-items {
    padding: 20px;

    >* {
      &:not(:last-of-type) {
        padding-bottom: 20px;
      }
    }
  }

  &-item {
    position: relative;

    &__clickable-area {
      z-index: 1;
    }

    &__clickable-area,
    &__clickable-area button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__clickable-area button {
      border: 0;
      background: transparent;
      color: transparent;
      padding: 0;
    }

    &__body {
      padding: 10px 0 0 0;
      display: block;
      height: auto;
      opacity: 0;
      max-height: 0;
    }

    &__body-container {
      background: #ddd;
      padding: 20px;

      p, span {
        margin: 0;
        padding: 0;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 20px;
      border: 2px solid #C03860;
      position: relative;
      border-radius: 4px;
    }

    &__text {
      flex: 1 1 auto;

      span {
        font-size: 22px;
      }
    }

    &__icon {
      flex: 0 1 auto;
      padding-left: 40px;

      i {
        display: block;
        height: 16px;
        width: 16px;
        position: relative;

        &:before {
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 100%;
          border-bottom: 2px solid #C03860;
          border-right: 2px solid #C03860;
          transform: rotate(45deg) translate(-50%, -50%);
        }
      }
    }
  }
}

// Statuses
.faq {
  &-item--open & {
    &-item__body {
      opacity: 1;
      max-height: 10000px;
    }
  }
}

// Animations
.faq {
  &-item__body {
    transition-property: opacity, max-height;
    transition-duration: .3s;
  }
}
