// Arrow helper mixin
//
// Simple usage
// @include arrow($foreground-color, $background-color);

@mixin arrow($foreground-color, $background-color, $right: 30px, $height: 10px, $border-width: 3px) {
    $heightOffset: $height + $border-width;
    $heightCentering: $height / 2;
    
    &::after,
    &::before {
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        margin-top: -$heightCentering;
        right: $right;
        transition: border-top-color 150ms;
    }

    &::after {
        border-top-color: $background-color;
        border-width: $height;
        margin-right: -$height;
    }

    &::before {
        border-top-color: $foreground-color;
        border-width: $heightOffset;
        margin-right: -$heightOffset;
    }
}