.offer-tag {
  position: relative;
  height: 50px;
  width: 50px;
  border: 1px solid #2C3838;

  // Modifiers
  &--circle {
    border-radius: 50%;
  }

  // Elements
  &__text {
    position: absolute;
    display: table;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      font-family: 'Lato', sans-serif;

      // we need to reset these because in _base.scs we have weird stuff.
      line-height: normal;
      margin: 0;
      font-size: 14px;
      font-weight: 600;
    }
  }
}