.product-card {
  display: block;
  border: 1px solid #BFBEBF;
  width: 100%;
  max-width: 450px;
  position: relative;

  &__header,
  &__body,
  &__thumbnail,
  &__footer,
  &__title,
  &__description,
  &__price {
    display: block;
  }

  &__title {
    font-size: 22px;
  }

  &__title,
  &__price,
  &__description, {
    span, p {
      font-family: 'Lato', sans-serif;

      // we need to reset these because in _base.scs we have weird stuff.
      line-height: normal;
      margin: 0;
    }
  }

  &__title,
  &__price {
    color: #2C3838;
  }

  &__description {
    color: #787679;
  }

  &__description,
  &__price {
    span {
      font-size: 14px;
      font-weight: bold;
    }
  }


  &__thumbnail {
    img {
      display: block;
      width: 100%;
      margin: 0;
    }
  }


  &__header {
    position: absolute;
    padding: 10px;
  }

  &__footer {
    padding: 17px;

    >* {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}