@import "frameworks/base";

$color-cerise-red: #e13464;
$color-gray-nurse: #ebede9;
$color-black: #000;
$color-white: #fff;

@import "components/offer-tag";
@import "components/product";
@import "fonts/fonts";
